/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	padding:0;
	margin:0;
    font-family: Verdana,'Merriweather', serif;
	background:#f7f7f7;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-----start-header----*/
.top-header{
	background:#ecf0f1;
	padding:10px 0;
}


.header-left{
	float:left;
	margin-top: 5px;
}
.header-left ul li{
	display:inline-block;
}
.header-left ul li a,.header-right ul li a{
	color:#777777;
	font-size:15px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
}
.header-right ul li a{
	margin-right: 5px;
}
.header-left ul li a:hover,.header-right ul li a:hover{
	color:#3498db;
}
.header-right ul li{
	display:inline-block;
}
.header-right{
	float:right;
	position:relative;
}
.sign-up-right a{
	position:absolute;
	top: 24%;
	right: 44.5%;
	color: #777777;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
.sign-up-right a:hover{
	color: #3498db;
}
.header-right ul li.last {
	color: #fff;
	background: #3498db;
	border-radius: 50%;
	padding: 3px 10px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
.header-right ul  li.login {
	padding: 0em 4.5em 0 0;
}

.header-bottom{
	background: transparent url("../images/danadams2.png") no-repeat scroll 0% 0% / cover;
}

i.user{
	width:30px;
	height:30px;
	background: url('../images/img-sprite.png') no-repeat 0px 2px;
	display:inline-block;
	cursor:pointer;
	vertical-align:bottom;
}
i.lock{
	width:30px;
	height:30px;
	background: url('../images/img-sprite.png') no-repeat -30px 2px;
	display:inline-block;
	cursor:pointer;
	vertical-align:bottom;
}
i.cart{
	width:30px;
	height:30px;
	background: url('../images/img-sprite.png') no-repeat -60px 2px;
	display:inline-block;
	cursor:pointer;
	vertical-align:bottom;
}
.wrap{
	width:85%;
	margin:0 auto;
}
.logo{
	float:left;
}
.search{
	float:right;
	width: 35%;
}
/*--start-search--*/
.search2 {
	position: relative;
	background: #fff;
	padding: 7px;
	width: 100%;
	float: right;
	margin: 14px 0px 0px 0em;
	border: 1px solid #D3CFCF;
}
.search2 input[type="text"] {
	outline: none;
	color: #777777;
	background: none;
	font-size: 14px;
	border: none;
	width: 90%;
	float: right;
}
.search2 input[type="submit"] {
	background: url('../images/img-sprite.png') no-repeat -90px 0px;
	width:30px;
	height:30px;
	border: none;
	cursor: pointer;
	position: absolute;
	outline: none;
	top: 3px;
}
.navigation-strip{
	background:#000000;
	padding:1.5em;
}
.navigation-strip h4 {
	float: left;
	color: #fff;
	font-size: 1.3em;
	font-weight: 300;
	margin-top: 5px;
}
.top-menu{
	float:right;
}
.top-menu ul li{
	display:inline-block;
}
.top-menu ul li a{
	text-decoration:none;
	color:#fff;
	font-size: 14px;
	font-weight: 300;
}
/* start menu */
.h_nav h4{
	border-bottom: 1px solid rgb(236, 236, 236);
	font-size: 1em;
	color: #000;
	line-height: 1.8em;
	text-transform: uppercase;
	margin-bottom: 4%;
	width: 100%;
}
.h_nav h4.top{
	margin-top: 12%;
}
.h_nav ul li{
	display: block;
}
.h_nav ul li a{
	display: block;
	font-size: 0.95em;
	color: #555;
	text-transform: capitalize;
	line-height: 1.8em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	line-height: 2.5em;
}
.h_nav ul li a:hover{
	color:#00405d;
	text-decoration:underline;
}
i.arrow{
	width:22px;
	height:22px;
	background: url('../images/img-sprite.png') no-repeat 0px -30px;
	display:inline-block;
	cursor:pointer;
	vertical-align: middle;
	margin-left:20px;
}
.banner {
	padding: 0;
}
/*--- slider-css --*/
.slider {
	position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width:100%;
  border: 0;
  }
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome;
	visibility: visible;
	display: block;
	height: 14px;
	width: 14px;	
	display: inline-block;
	background:#fff;
	border-radius:50%;
}
.callbacks_here a:after{
	background:#3498db;
}
.callbacks_tabs a{
	visibility:hidden;
}
.callbacks_tabs li{
	display:inline-block;
}
ul.callbacks_tabs.callbacks1_tabs {
	position: absolute;
	bottom: 5%;
	z-index: 999;
	left: 47%;
}
ul.callbacks_tabs.callbacks2_tabs {
	position: absolute;
	bottom: 10%;
	z-index: 999;
	left: 45%;
}
/*-- responsive-mediaquries --*/
@media(max-width:1024px){
}
@media(max-width:768px){
}
@media(max-width:640px){
	.callbacks_tabs a:after {
		height: 10px;
		width: 10px;
	}
}
@media(max-width:480px){
	.callbacks_tabs a:after {
		height:4px;
		width: 4px;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 10px;
		left: 4px;
	}
}
@media(max-width:320px){
	.callbacks_tabs a:after {
		height:4px;
		width: 4px;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 10px;
		left: 4px;
	}
}
.right-grid {
	border-right: 1px solid #B9B9B9;
	padding:0;
	background: #fff;
	min-height: 449px;
}
.right-grid-top {
	padding: 2em;
	border-bottom: 1px solid #B9B9B9;
}
.r-sale {
	background: #34495e;
	float: left;
	width: 44%;
	padding: 3em 0;
	margin-right:4%;
}
.r-discount {
	float: right;
	width: 52%;
}
.r-sale h6 {
	color: #fff;
	font-size: 21px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.r-sale h2 {
	color: #fff;
	font-size: 3.8em;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.r-discount span {
	background: #666666;
	display: block;
	padding: 6px 1.5em;
	color: #fff;
	letter-spacing: 1.8em;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 700;
}
.r-discount h2 {
	color: #666666;
	font-size: 4.5em;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.r-discount p{
	color: #666666;
	font-size:2em;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.r-discount a {
	color: #000;
	font-size: 1.1em;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.r-discount a:hover {
	padding-left: 10px;
}
.r-discount a:hover{
	color:#3498db;
}
.right-grid-bottom-left h3 {
	color: #666666;
	font-size: 2.25em;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	margin-bottom:10px;
}
.right-grid-bottom-left p{
	background:#f39c12;
	color:#fff;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	padding:3px 18px;
	margin:5px 0;
	width:65%;
}
.right-grid-bottom-left h5 {
	color: #666666;
	font-size: 1.2em;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	margin:10px 0 4px 0;
}
.right-grid-bottom-left h2{
	color: #e74c3c;
	font-size: 1.9em;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	margin:10px 0;
}
.right-grid-bottom-left a{
	color: #000;
	font-size: 1.1em;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.right-grid-bottom-left a:hover {
	padding-left: 10px;
	color:#3498db;
}
.right-grid-bottom {
	padding: 1.4em 2em;
}
.right-grid-bottom-left{
	float:left;
	width:70%;
}
.right-grid-bottom-right{
	float:right;
	width:30%;
}
.right-grid-bottom-right img {
	width: 8.5em;
	height: 9.2em;
}
.new-arrivals{
	padding:3em 0;
	border: 1px solid #B9B9B9;
	background:#fff;
}
.product-item img {
	width: 100%;
	height: 12em;
}
.best-sellers{
	background:#000;
	padding: 2.5em 2em;
}
.best-sellers-head{
	float:left;
	margin-right: 10%;
}
.best-sellers-menu{
	float:left;
	margin-top: 10px;
}
.best-sellers-menu ul li{
	display:inline-block;
	margin: 0 2.5em;
}
.best-sellers-head h3 {
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size:2.5em;
	font-weight:700;
}
.best-sellers-menu ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 1.1em;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	padding: 10px 20px;
	border: 2px solid #000;
}
.best-sellers-menu ul li a.active{
	color:#3498db;
	border: 2px solid #3498db;
	border-radius: 25px;
}
.best-sellers-menu ul li a:hover{
	color:#3498db;
	border: 2px solid;
	border-radius: 25px;
}
.product-item a h3 {
	text-transform: uppercase;
	font-size: 2.4em;
	font-weight: 300;
	color: #2980b9;
	margin: 18px 0 5px 0;
}
.product-item a{
	color: #000;
	font-size: 1.1em;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.product-item a:hover{
	color:#3498db;
}
.new-arrival-head h3{
	text-transform: uppercase;
	font-size: 3.7em;
	font-weight: 300;
	line-height:1.3em;
	color: #000;
	margin:0.6em 0 1.5em 0;
	font-family: 'Open Sans', sans-serif;
}
.new-arrival-head a{
	color: #000;
	font-size: 1.1em;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	padding: 9px 27px;
	border: 2px solid #000;
	border-radius: 25px;
	z-index:1;
}
.new-arrival-head a:hover{
	border-radius:0;
}
/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/* Button 1d */
.btn-1d {
	overflow: hidden;
}

.btn-1d:after {
	width: 0;
	height: 103%;
	top: 50%;
	left: 50%;
	background: #000;
	border-radius:0;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn-1d:hover,
.btn-1d:active {
	color: #0e83cd;
}

.btn-1d:hover:after {
	width: 90%;
	opacity: 1;
}

.btn-1d:active:after {
	width: 101%;
	opacity: 1;
}
/* Button 1f */
.btn-1f {
	overflow: hidden;
}

.btn-1f:after {
	width: 101%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #fff;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn-1f:hover,
.btn-1f:active {
	color: #0e83cd;
}

.btn-1f:hover:after {
	height: 75%;
	opacity: 1;
}

.btn-1f:active:after {
	height: 130%;
	opacity: 1;
}
i.go{
	width: 20px;
	height: 20px;
	background: url('../images/img-sprite.png') no-repeat -22px -32px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	margin-left: 7px;
}
.product-item h3 {
	text-transform: uppercase;
	font-size: 2.4em;
	font-weight: 300;
	color: #2980b9;
	margin: 18px 0 5px 0;
}
/* --#flexiselDemo3 {
	display: none;
}-- */
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin:3em 0;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
	width:100%;
  	background: #FFF;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	display: inline-block;
}
.course_demo{
	background: #FFF;
	padding: 3% 3% 3% 3%;
}
.course_demo1{
	background: #FFF;
	padding: 1% 3% 1% 3%;
}
.nbs-flexisel-item img {
	  width: 45%;
	  cursor: pointer;
	  position: relative;
	  margin-bottom: 0px;
	  display:inline;
	  border-radius: 7px;
	  -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
}
/*** Navigation ***/
.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  width:60px;
  height:60px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
}
.nbs-flexisel-nav-left {
  	left: -5em;
	background: url(../images/img-sprite.png) 0px -52px no-repeat;
}
.nbs-flexisel-nav-right {
	right: -5em;
	background: url(../images/img-sprite.png) -60px -52px no-repeat;
}
.client{
	width:70%;
	margin:0 auto;
}
.client img {
	width: 90%;
}
.ipad {
	width: 85%;
	margin: 0 auto;
	border: 1px solid #DDD;
	padding: 20px 13px 40px 19px;
	height: 24em;
}
.ipad h4 {
	color: #000000;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	margin-top:1.5em;
}
.ipad h3 {
	color: #3498db;
	text-transform: uppercase;
	font-size: 1.75em;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	margin: 6px 0 12px 0px;
}
.ipad ul li a {
	color: #727272;
	text-transform: capitalize;
	font-size: 1.1em;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
}
.ipad ul li a:hover {
	color: #3498db;
}
i.cart-1 {
	width: 20px;
	height: 20px;
	background: url('../images/img-sprite.png') no-repeat -42px -31px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	margin: 0 3px 0 2em;
}
i.heart {
	width: 20px;
	height: 20px;
	background: url('../images/img-sprite.png') no-repeat -62px -31px;
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	margin: 0 4px 0 1em;
}
.clients {
	margin: 3em 0;
	border: 1px solid #B9B9B9;
}
.device {
	border: 1px solid #B9B9B9;
}
.shipping{
	background:#fff;
	border: 1px solid #B9B9B9;
	padding:1.8em;
	margin-right:3%;
	width:31.333%;
}
.return{
	background:#fff;
	border: 1px solid #B9B9B9;
	padding:1.8em;
	margin-right:0;
	width:31.333%;
}
.footer {
	background: #fff;
	margin-top: 3em;
	border-top: 1px solid #B9B9B9;
}
.shipping h3,.return h3 {
	color: #777777;
	font-size: 2em;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}
i.shipping-icon{
	width: 55px;
	height: 35px;
	background: url('../images/img-sprite.png') no-repeat -122px 0px;
	display:inline-block;
	vertical-align: sub;
	margin-right: 10px;
}
i.correct-icon{
	width: 55px;
	height: 35px;
	background: url('../images/img-sprite.png') no-repeat -187px 0px;
	display:inline-block;
	vertical-align: sub;
}
i.return-icon{
	width: 55px;
	height: 35px;
	background: url('../images/img-sprite.png') no-repeat -243px 0px;
	display:inline-block;
	vertical-align: sub;
}
.shipping p,.return p {
	color: #777777;
	font-size: 1.1em;
	line-height:1.5em;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	margin:1em 0 0 5px;
}
.social-icons i{
	width: 60px;
	height: 60px;
	background: url('../images/img-sprite.png') no-repeat -243px 0px;
	display:inline-block;
	cursor:pointer;
}
.social-icons i:hover{
	opacity:0.5;
}
i.twitter{
	background-position:-120px -52px;
}
i.facebook{
	background-position:-180px -52px;
}
i.googlepluse{
	background-position:-240px -52px;
}
i.pinterest{
	background-position:-300px -52px;
}
i.linkedin{
	background-position:-360px -52px;
}
.follow h3,.subscribe h3,.help h3{
	color: #000000;
	text-transform: uppercase;
	font-size: 1.7em;
	font-weight: 900;
	font-family: 'Open Sans', sans-serif;
	text-transform:capitalize;
}
.follow p,.subscribe p,.help p{
	font-family: 'Open Sans', sans-serif;
	color:#777777;
	font-size:1.15em;
	font-weight:400;
	margin:10px 0;
}
.help a{
	text-transform:uppercase;
	color:#fff;
	padding:8px 18px;
	background:#3498db;
	text-decoration:none;
	font-size:15px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
	border:1px solid #3498db;
}
.help a:hover{
	border:2px solid #3498db;
	background:#fff;
	color:#3498db;
}
.help p{
	margin-bottom:1.45em;
}
.contact-section {
	border-bottom: 1px solid #B9B9B9;
	padding: 3em 0 2em 0;
}
.subscribe input[type="text"] {
	width: 65%;
	color: #606060;
	font-size: 15px;
	padding: 10px 10px;
	border: 1px solid #B9B9B9;
	outline: none;
	margin: 5px 8px 5px 0;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}
.subscribe input[type="submit"] {
	color: #3498db;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	border: 2px solid #3498db;
	background: #fff;
	padding: 9px 23px;
	outline: none;

	font-family: 'Open Sans', sans-serif;
}
.subscribe input[type="submit"]:hover{
	color:#fff;
	background:#3498db;
}
.cards {
	padding: 1.5em 0;
	border-top: 1px solid #B9B9B9;
	border-bottom: 1px solid #B9B9B9;
}
.copyright {
	padding: 2em 0;
}
.copyright p{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:400;
}
.copyright p a{
	color: #3498db;
	margin-left: 5px;
}
.footer-middle {
	padding: 3em 0;
}
.about-text.text-right h4{
	color:#3498db;
	font-size:1.3em;
	font-weight: 600;
}
.about-text.text-right p {
	color: #505050;
	font-size: 1.05em;
	font-weight: 600;
	line-height: 1.5em;
	margin-top: 5px;
}
.different-products ul li {
	display: inline-block;
}
.different-products ul li.first{
	color:#777777;
	font-size:15px;
	font-weight:600;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
}
.different-products ul li a{
	color:#222222;
	font-size:15px;
	font-weight:700;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	text-decoration:none;
}
.different-products ul li a:hover{
	color:#3498db;
	text-decoration: underline;
}

/*-- mobiles-page-starts-here --*/
.main {
	padding: 2em 2em;
	background: #fff;
	border: 1px solid #B9B9B9;
	margin-bottom: 2em;
}
.content h2{ 
	font-size:23px;
	color:#6C6C6C;
}
.content_top{
	padding:15px 20px;
	border:1px solid #EBE8E8;
	border-radius:3px;
	margin-bottom: 1em;
}
.content_bottom{
	padding:15px 20px;
	border:1px solid #EBE8E8;
	border-radius:3px;
	margin:2em 0 1em 0;
} 
.heading{
	float:left;
	margin-right:10%;
}
.heading h3{
	font-size:22px;
	color:#602D8D;
	text-transform:uppercase;
}
.sort,.show{
	float:left;
	width:14%;
	margin-left:1.6%;
	padding-top:5px;
}
.sort p,.show p{
	display:inline;
	font-size:0.8125em;
	color: #333;
}
.sort select,.show select{
	display:inline;
	font-size:1.1em;
	color: #333;
	margin-left:2px;
}
.page-no{
	float:right;
	padding-top:5px;
}
.page-no p{
	display:inline;
	font-size:0.8125em;
	padding:0.3em 0;
	color: #333;
}
.page-no ul{
	display:inline;
}
.page-no li{
	display:inline;
}
.page-no li a{
	font-size:0.8125em;
	color: #333;
	line-height: 1.6em;
	padding:5px 5px;
}
.page-no li a:hover,.page-no li.active{
	color:#602D8D;
	text-decoration:underline;
}
/**** Grid 1_0f_4 ****/
.grid_1_of_4{
	display: block;
	float:left;
	margin: 1% 0 1% 2.6%;
	box-shadow: 0px 0px 3px rgb(150, 150, 150);
}
.grid_1_of_4:first-child {
	color: red;
}
.images_1_of_4 {
	width: 18.1%;
	padding:1.5%;
	text-align:center;
	position:relative;
	height: 23.5em;
}
.images_1_of_4  img{
	max-width:100%;
}
.discount{
	background:url(../images/discount-img.png) no-repeat 0 0;
	position: absolute;
	top: 30px;
	width: 42px;
	height: 42px;
}
.discount span.percentage{
	color: #FFF;
	font-size: 1em;
	font-weight: bold;
	line-height: 40px;
}
.images_1_of_4  h2 {
	color: #3498db;
	font-size:13px;
	font-weight : bold;
	margin-top: 1em;
}
.images_1_of_4  p {
	font-size:0.8125em;
	padding:0.4em 0;
	color: #333;	
}
.images_1_of_4  p span.strike{
	font-size:14px;
	color:#444;
	text-decoration:line-through;
	font-weight: bold;
}
.images_1_of_4  p span.price{
	font-size:14px;
	font-weight: bold;
	color: #CC3636;
	margin-left:15px;
}
.images_1_of_4 .button{
	margin-top:.3em;
	line-height:1.9em;
	float:left;
	width:50%;
}
.images_1_of_4 .button a{
		padding:7px 20px;
		font-size:0.8em;
}
.images_1_of_4 .button a{
	font-size: 14px;
	line-height: 15px;
	text-transform: none;
	color: #737370;
	text-decoration: none!important;
	/** background: url(../images/button-bg.png) repeat-x 0 0 #E8E8E8; **/
	display: inline-block;
	border-left: 1px solid #D4D4D4!important;
	border-right: 1px solid #ADADAD!important;
	border-top: 1px solid #E0E0E0!important;
	border-bottom: 1px solid #9C9C9C!important;
	cursor: pointer!important;
	margin: 0 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
}
.images_1_of_4 .button a:hover{
     color:#70389C;
     background: #E8E8E8;
}
.images_1_of_4 .button span img{
	position:absolute;
}
.images_1_of_4 .button a.cart-button{
	padding:7px 5px 7px 38px; 
}
/* start-sarees-page */
/* start handbags */
h2.style{
	font-size: 2em;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
}
h2.top{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 2em;
	color: #3498db
}
/* start main */
/* start grids_of_3 */
.grids_of_3{
	text-align:center;
	margin: 2% 0;
}
.grid1_of_3{
	float: left;
	width: 29.333%;
	margin-left: 4.3333%;
	border: 1px solid rgb(223, 223, 223);
	position: relative;
	text-transform: uppercase;
}
.grid1_of_3:first-child{
	margin-left: 0;
}
.grid1_of_3 img {
	width: 100%;
}
.grid1_of_3 a{
	padding: 2%;
	display: block;
	text-decoration: none;
}
.grid1_of_3 img{
	margin-top: 8%;
}
.grid1_of_3 h3{
	margin: 5% 0 4%;
	font-size: 1.6em;
	color: #000000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.grid1_of_3:hover h3,.grid1_of_3:hover h4 span{
	color: rgb(0, 0, 0);
}
.b_btm{
	position: absolute;
	width: 100%;
	border-bottom: 6px solid #3498db;
	left: 0px;
	display: block;
	bottom: 0px;
}
.price1{
	display: block;
	margin-bottom: 40px;
}
.price1 h4{
	font-size: 1.5em;
	color: #999999;	
}
.price1 h4 span{
	display: inline-block;
	font-size: 0.95em;
	background: #3498db;
	color: #ffffff;
	padding: 8px 20px;
	margin-left: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/*----*/
h3.cate {
	color: #fff;
	font-size: 1.7em;
	padding: 0.6em ;
	background: #000;
	margin: 0;
}
/*----*/
ul.kid-menu{
	display: block !important;
}
.menu {
	width: auto;
	height: auto;
	padding: 0;
	list-style: none;
	margin: 0;
	background: #FBFBFC;
}
ul {
	padding: 0;
	list-style: none;
}
.menu > li > a {
	width: 100%;
	line-height: 3.5em;
	text-indent: 1.2em;
	display: block;
	position: relative;
	color: #000;
	font-size: 1.1em;
	text-decoration:none;
	border-bottom: 1px solid #ddd;
	font-weight:700;
}
.menu ul li a {
	
	width: 100%;
	display: block;
	position: relative;
	font-size:1.1em;
	font-weight: 400;
	color: #000;
	text-decoration:none;
	border-bottom: 1px solid #ddd;
	font-weight:700;
	line-height: 3.5em;
	text-indent: 1.2em;
}
.menu ul li a:hover{
	background: #3498db;
	color: #fff;;
}
.menu > li > a:hover, .menu > li > a.active {
	background:#fff;
}
.menu ul.kid-menu li a{
	border-bottom: none;
}
ul.kid-menu{
	padding: 0;
	margin: 0;	
}
ul.kid-menu li{
	list-style: none;
	border-bottom: 1px solid #ddd;
}

ul.kid-menu li.menu-kid-left{
	border-bottom:none;
}
ul.cute li{
	background: #fff;
}
.arrow-img {
	padding: 0em 0em 0 5em;
}
.img-arrow{
	padding: 0 0 0 6.9em;
}
.img-left-arrow{
	padding: 0 0 0 4.4em;
}
/*--menu--*/
/*----*/
.sub-cate,.slide-grid,.banner-bag,.banner-off{
	float: left;
	width: 17%;
}
.top-nav{
	border: 1px solid #ddd;
}
.menu-chain{
	width:100%;
	margin: 2em 0;
}
.chain{
	margin: 0 auto;
	padding: 3em 0;
}
.chain-grid span.star{
	background: url(../images/img-sprite.png)-208px -14px;
	width: 52px;
	height: 52px;
	display: block;
	position: absolute;
	top: 2%;
	right: 2%;
}
span.reducedfrom {
	color: #555;
	text-decoration: line-through;
	margin-right: 8%;
	font-size:1.1em; 
}
span.actual {
	font-weight: 500; 
	color:#3498db;
    font-weight: 700; 
    font-size:1.2em;
}
span.dolor-left-grid{
	font-size: 1.7em;
}
.chain-watch h6{
	padding: 0;
}
.chain-watch {
	padding: 1em ;
}
.grid-chain-bottom h6{
	margin: 0;
	font-size: 1.3em;
	color: #000;
	font-weight: 700;
	padding: 0.8em 0.5em 0;
}
.chain-grid{
	border: 1px solid #ddd;
	position: relative;
	float:left;
	width: 30.7%;
	margin: 0 31px 0 0;
}
.menu-chain{
	width:100%;
	margin: 2em 0;
}
.sed-left-top,.grid-top-chain{
	margin: 0;
}
.star-price {
	padding: 1em 0.5em;
}
.chain{
	margin: 0 auto;
	padding: 2em 0;
}
.chain-grid span.star{
	background: url(../images/img-sprite.png)-208px -14px;
	width: 52px;
	height: 52px;
	display: block;
	position: absolute;
	top: 2%;
	right: 2%;
}
span.reducedfrom {
	color: #555;
	text-decoration: line-through;
	margin-right: 8%;
	font-size:1.1em; 
}
a.view-all {
	font-size: 0.9em;
}
a.view-all span{
	/**background: url(../images/arrow2.png)0px 0px;**/
	width: 15px;
	height: 14px;
	display:inline-block;
}
a.view-all{
	text-decoration: none;
	font-size: 1em;
	color:#000;
	font-weight:700;
}
.latest-products {
	float: right;
	margin-left: 3%;
	width: 75%;
}

/*-- Brand Page Starts Here --*/
.brand{
}
.brand-content-bar{
	width:73%;
	margin-right:2%;
	float:right;
	min-height:400px;
	background:#f5f5f5;
	padding:1em 2em;
}
.brand-side-bar{
	width:25%;
	float:right;
	box-shadow: -5px 4px 50px -21px #000;
}
/*-- products Page Starts Here --*/
ul.path{
	padding:0;
}
ul.path li{
	display: inline-block;
	color:#000;
	font-size:0.875em;
}
ul.path li a{
	color:#000;
}
ul.path li.actev{
	color:#3498db;
}
h3.page-hed{
	font-size:1.2em;
	color:#000;
	font-weight:700;
	margin:1em 0;
	text-transform:uppercase;
}
.load a {
	padding: 1em;
	color: #fff;
	background: #3498db;
	text-decoration: none;
	display: block;
	width:25%;
	margin:0 auto;
	font-weight:600;
	text-align: center;
	text-transform: uppercase;
	font-size: 1em;
	border-radius: 6px;
	z-index: 1;
}
.load a:hover{
	color:#3498db;
	background:#3498db;
}
/*----My-Account-----*/
/* start registration */
.registration{
	padding: 1.2% 0% 0 0;
}
.registration h2{
	font-size: 2em;
	color: #00405d;
	text-transform: capitalize;
	margin-bottom: 4%;
	font-weight: 300;
}
.reg_fb {
	margin-right: 4%;
	display: block;
	background: #1A367D;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 48%;
	float: left;
	margin-bottom: 10px;
}
.reg_fb img {
	background:#1A367D;
	padding: 5px;
	float: left;
	border-right:2px solid #07205F;
}
.reg_fb i {
	color: #fff;
	padding: 5px 10px 0 0;
	display: inline-block;
	font-size: 1.1em;
	text-transform: capitalize;
	font-style: normal;
}
.login h5 {
	color: #000;
	font-size: 14px;
	font-weight: 700;
	margin: 9px 0 13px 0;
}
.require {
	color: #F00;
	font-size: 11px;
}
.cus_info_wrap label {
	float: left;
	display: block;
	font-size: 14px;
	padding: 5px 0 0;
}
.cus_info_wrap {
	margin-bottom: 15px;
	padding: 0 25px;
}
.cus_info_wrap input[type="text"] {
	width: 71%;
	padding: 4px;
	font-size: 13px;
	font-weight: 400;
	border:1px solid #D6D6D6;
	outline:none;
}
.botton{
	background: #175ed4;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	border: 0;
	color: #fff;
	font-weight: 700;
	height: 31px;
	font-size: 14px;
	text-transform: uppercase;
	width: 80px!important;
	text-align: center;
}
.labelTop.confirmpass {
	margin-top: -9px;
	line-height: 1;
}
.sign-up.text-center {
	border: 1px solid #D6D6D6;
	border-left:none;
	padding: 2em 0 0 0;
	min-height: 456px;
	width: 38%;
}
.sign-up h4{
	margin-bottom:2em;
}
.forgetit a {
	color: #000;
	font-size: 13px;
	display: block;
	float: left;
	margin-bottom: 0.5em;
	text-decoration:none;
}
.forgetit input[type="text"] {
	width: 71%;
	padding: 7px;
	font-size: 11px;
	text-align:left;
	font-weight:400;
	border: 1px solid #D6D6D6;
	outline: none;
	margin: 0px -4px 0 0;
}
.forgetit {
	padding: 25px 5em 0 25px;
	border-top: 1px solid #B6B6B6;
	margin-top: 1.7em;
}
.login.text-center {
	border: 1px solid #D6D6D6;
	padding: 2em 0 0 0;
	min-height: 456px;
	width: 38%;
}
.botton1 {
	margin-right: 5.8em;
	margin-top:1.5em;
}
.labelTop {
	display: block;
	font-weight: bold;
	text-align: left;
	color: #444;
	float: left;
	width: 29%;
}
.reg_gp {
	display: block;
	background: #DD4B39;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 48%;
	float: left;
	margin-bottom: 10px;
}
.reg_gp img {
	background:#DD4B39;
	padding: 5px;
	float: left;
	border-right:2px solid #D14A3A;
}
.reg_gp i {
	color: #fff;
	padding: 5px 10px 0 0;
	display: inline-block;
	font-size: 1.1em;
	text-transform: capitalize;
	font-style: normal;
}
.how_to p {
	font-size: 11px;
	font-weight: 300;
	color: #000;
	display: block;
}
.how_to p img {
	margin: 0 2px 3px 0px;
}
.login-signup-form {
	width: 80%;
	margin: 2em auto;
}
.how_to {
	background: #F8F8F8;
	padding: 0.7em 2em;
	border: 1px solid #D6D6D6;
	margin: 15px 25px;
}
.benefits p {
	font-size: 12px;
	font-weight: 300;
	color: #000;
	line-height: 1.6em;
	display: block;
	border-bottom: 1px dotted #000;
	padding-bottom: 8px;
	margin-top: 8px;
}
.benefits{
	padding: 0 10px 10px;
	background:#F6F6F6;
	width: 22%;
	margin-left: 2%;
}
.benefits h4 {
	color: #029ECB;
	font-size: 16px;
	margin: 13px 0 10px 0;
}
.login h4,.sign-up h4 {
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 700;
	color: #3498db;
}
/*--login--*/
.login-left {
	background: url(../images/bg-login.gif) no-repeat right bottom #ffffff;
	border: 1px solid #ececec;
	padding: 20px;
	min-height: 343px;
	width:49%;
	margin-right:2%;
}
.login-right {
	background: url(../images/bg-login-2.gif) no-repeat right bottom #ffffff;
	border: 1px solid #ececec;
	padding: 20px;
	min-height: 343px;
	width:49%;
}
.login-left h3, .login-right h3 {
	color:#000;
	font-size: 1.5em;
	padding-bottom: 0.5em;
	font-weight:600;
}
.login-left p, .login-right p {
	color: #555;
	display: block;
	font-size: 0.9em;
	margin: 0 0 2em 0;
	line-height: 1.5em;
}
.acount-btn {
	background: #3498db;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
}
.form-list label {	
	color: #000;
	font-weight: bold;
	position: relative;
	z-index: 0;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 0;
}
.sgn {
	width: 100%;
}
.sgn input#is_subscribed {
	float: left;
	width: 2%;
}
.sgn label {
	width: 50%;
	margin-top: 6px;
}
.form-list li.control input.radio, .form-list li.control input.checkbox {
	margin-right: 6px;
}
.main-container .radio, .main-container .checkbox {
display: inline-block;
margin-top: 0;
}
.acount-btn:hover, .login-right input[type="submit"]:hover{
	background:#000;
	text-decoration:none;
	color:#fff;
}
.login-right form {
	padding: 1em 0;
}
.login-right form div {
	padding: 0 0 2em 0;
}
.login-right span {
	color: #555;
	font-size: 0.875em;
	padding-bottom: 0.2em;
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}
.login-right input[type="text"] {
	border: 1px solid #EEE;
	outline-color:#3498db;
	width: 96%;
	font-size:0.8125em;
	padding: 0.5em;
}
.login-right input[type="submit"] {
	background: #3498db;
	color: #FFF;
	font-size: 1em;
	padding: 0.7em 1.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
a.forgot {
	font-size: 1em;
	margin-right: 11px;
}
ul.breadcrumbs{
	padding:0;
	list-style:none;
	float:left;
}
ul.breadcrumbs li{
	display:inline-block;
	font-size:1.1em;
	color:#000;
}
ul.breadcrumbs li.women{
	background:#5BBD50;
	padding:3px;
}
ul.previous{
	padding:0;
	list-style:none;
	float:right;
}
ul.previous li a{
	color:#999;
	font-size:1.1em;
}
.mens-toolbar {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 2em;
}
.mens-toolbar .sort {
	float: left;
	width: 20.5%;
}
.sort-by {
	color:#000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.sort-by label{
	font-weight:normal;
}
.mens-toolbar .pages {
	float: right;
	margin: 0;
}
ul.women_pagenation.dc_paginationA.dc_paginationA06 {
	float:right;
	padding:0;
	list-style:none;
}
.pages{
	float:right;
}
.pages .limiter {
	color: #000;
	font-size: 0.8125em;
	text-transform: uppercase;
}
.pages .limiter select {
	padding: 0;
	margin: 0 0 1px;
	vertical-align: middle;
}
ul.women_pagenation li {
	float: left;
	margin: 0px;
	margin-left: 5px;
	padding: 0px;
	list-style:none;
}
ul.women_pagenation li a {
	color:#000;
	display: block;
	padding:4px 8px;
	text-decoration: none;
	font-size: 0.8125em;
	text-transform:uppercase;
}
ul.women_pagenation li.active a{
	background:#26d2fc;
	color:#fff;
}
ul.women_pagenation li a:hover{
	background:#26d2fc;
	color:#fff;
}
.login-page {
	padding: 2em 0;
}
.registration_left{
	float: left;
	width: 45.33333%;
	margin-left: 9.333%;
}
.registration_left:first-child{
	margin-left: 0;
}
.registration span{
	color: #777777;
}
.registration_form{
	display: block;
}
.registration_form div{
	padding:10px 0;
}
.sky_form1{
	margin-bottom: -30px;
}
.sky_form1 ul{
	padding:0;
	list-style:none;
}
.sky_form1 ul li{
	float: left;
	margin-left: 20px;
}
.sky_form1 ul li:first-child{
	margin-left: 0;
}
label {
	margin-bottom: 0;
	font-weight: normal;
	width:100%;
}
p.required {
	font-size: 10px;
	text-align: right;
	color: #ff0000;
	margin:0;
}
.registration_form input[type="text"],.registration_form input[type="email"],.registration_form input[type="tel"],.registration_form input[type="password"]{
	padding: 8px;
	display: block;
	width:100%;
	outline: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #333333;
	-webkit-appearance: none;
	text-transform: capitalize;
	background: #FFFFFF;
	border: 1px solid rgb(231, 231, 231);
	font-weight: normal;
}
.registration_form input[type="submit"]{
	-webkit-appearance: none;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	text-transform: capitalize;
	display: inline-block;
	background:#3498db;
	padding: 10px 20px;
	transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	cursor:pointer;
	border:none;
	outline:none;
	font-size:1em;
	margin-bottom: 5px;
}
.registration_form input[type="submit"]:hover{
	color: #ffffff;
	background:#000;
}
.terms{
	text-decoration:underline;
	text-transform:capitalize;
	color: #00405d;
}
.terms:hover{
	text-decoration:none;
}
.forget a{
	text-transform: capitalize;
	color: #999999;
	text-decoration: underline;
	font-size: 1.3em;
}
.forget a:hover{
	text-decoration: none;
}
/*-- login-page-starts-here-- */
.contact-box {
	width: 60%;
	margin: 3em auto 5em;
}
.login-box{
	margin-bottom:2em;
}
.form small, .form-t small, .form-y small {
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 400;
	color: #606060;
	margin-bottom:0.5em;
}
.text select {
	width: 100%;
	padding: 10px;
	outline:none;
	border:1px solid #f68236;
}
.form {
	margin: 0em 0 2em;
}
.form-t {
	float: left;
	width: 49%;
	margin-bottom:2em;
}
.form-y{
	float:right;
	width:49%;
	margin-bottom:2em;
}
.text input[type="text"], .text input[type="password"]{
	width:100%;
	padding:10px;
	outline:none;
	-webkit-appearance:none;
	border:1px solid #3498db;
}
.text textarea{
	width:100%;
	resize:none;
	height:200px;
	padding:10px;
	outline:none;
	border:1px solid #f68236;
}
.text{
	margin-top:0.5em;
	text-align:center;
}
.text input[type="submit"]{
	font-size:0.8em;
	color:#fff;
	border:0px;
	background:#3498db;
	padding:15px 30px;
	text-align:center;
	outline:none;
	text-transform:uppercase;
	-webkit-appearance: none;
	cursor: pointer;
}
.text input[type="submit"]:hover,.reg a:hover{
	background:#000;
}
.text a:hover{
	color:#f68236;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
.pag-nav{
	padding:1em 0;
}
ul.p-list{
	padding:0;
}
ul.p-list li{
	display:inline-block;
}
ul.p-list li a{
	color:#303030;
	font-size:0.8em;
	text-transform:uppercase;
	font-weight:400;
	text-decoration:none;
}
ul.p-list li.act {
	color:#3498db;
	font-size:0.8em;
	text-transform:uppercase;
	font-weight:400;
	text-decoration:none;
}
ul.p-list li a:hover{
	color:#f68236;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
.coats{
	margin-top:3em;
	text-align:center;
}
h3.c-head{
	font-size:2em;
	text-transform:uppercase;
	color: #303030;
	font-weight:600;
	margin:0;
}
.coats small a{
	font-size:1em;
	font-weight:400;
	font-family:Georgia;
	color:#606060;
	font-style: italic;
	/**background:url(../images/sh)no-repeat right; **/
	padding-right:10px;
	cursor: pointer;
	text-decoration: none;
}
.coats small a:hover{
	border-bottom:2px solid #606060;
}
.coat-row{
	padding:3em 0 2em;
}
.coat-column{
	width:22%;
	float:left;
	margin-right:4%;
	position:relative;
}
.coat-column1{
	width:22%;
	float:right;
	position:relative;
}
.prod-desc{
	text-align:center;
}
.prod-desc h4{
	font-size:1em;
	font-weight:600;
	color:#303030;
	margin:0;
}
.prod-desc small{
	font-size:0.85em;
	font-weight:400;
	color:#606060;
}
.coat-column a, .coat-column1 a{
	text-decoration:none;
}
.coat-column a img, .coat-column1 a img{
}
.coat-column:hover .mask, .coat-column1:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
.coat-column .mask, .coat-column1 .mask{
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	background-color: rgba(219,127,8, 0.7);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	padding: 10px 15px;
	background: rgba(255, 255, 255, 0.82);
	-moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
	box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
	color: #000;
	font-size: 0.85em;
	font-weight: bold;
}
.coat-column .mask, .coat-column1 .mask{
	position:absolute;
	top:35%;
	left:35%;
	cursor: pointer;
}
.look{
	border-top:1px solid #606060;
	margin:2em 0;
	text-align:center;
	padding:2em 0 1em;
}
.look h3{
	font-size:1.5em;
	font-weight:400;
	font-family: Georgia;
	color:#606060;
	font-style: italic;
}
.reg{
	margin:2em 0;
}
.reg a{
	font-size:0.8em;
	color:#fff;
	border:0px;
	background:#3498db;
	padding:15px 30px;
	text-align:center;
	outline:none;
	text-transform:uppercase;
	text-decoration:none;
}
.text a{
	font-size:0.8em;
	color:#fff;
	border:0px;
	color:#606060;
	text-decoration:none;
	text-transform:capitalize;
	font-weight:400;
	font-style: italic;
}
.login-bot{
	margin-bottom:5em;
}
section#main {
	border: 1px solid #DDDDDD;
	padding:3em;
	background: #fff;
}

/*-- Register Page Starts --*/
.register{
	padding:2em 0;
	font-family: 'Roboto', sans-serif;
}
.register-top-grid h3, .register-bottom-grid h3 {
	color:#3498db;
	font-size: 1.1em;
	padding-bottom: 5px;
	margin: 0;
}
.register-top-grid div, .register-bottom-grid div {
	width: 48%;
	float: left;
	margin: 10px 0;
}
.register-top-grid span, .register-bottom-grid span {
	color:#555;
	font-size: 0.8125em;
	padding-bottom: 0.2em;
	display: block;
	text-transform: uppercase;
}
.register-top-grid input[type="text"], .register-bottom-grid input[type="password"]{
	border:1px solid #3498db;
	outline:none;
	width: 96%;
	font-size: 1em;
	padding: 0.5em;
}
.checkbox {
	margin-bottom: 4px;
	padding-left: 42px;
	font-size: 1.1em;
	line-height: 27px;
	cursor: pointer;
}
.checkbox {
	float: right;
	position: relative;
	font-size: 0.85em;
	color: #555;
	margin-top: -17px;
	width: 90%;
}
.checkbox:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-weight:600;
	font-size: 0.85em;
	margin-bottom: 1em;
	display: block;
	text-transform: uppercase;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox i {
	position: absolute;
	bottom: 8px;
	left: 82px;
	display: block;
	width: 13px;
	height: 13px;
	outline: none;
	border: 1px solid #D2CF99;
}
.checkbox input + i:after {
	content: '';
	background: url("../images/tick1.png") no-repeat 1px 2px;
	top: -3px;
	left: -3px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox input {
	position: absolute;
	left: -9999px;
}
.checkbox input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.register-but{
	margin-top:1em;
}
.register-but form input[type="submit"] {
	background:#3498db;
	color: #FFF;
	font-size: 0.9em;
	padding: 0.9em 2.2em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	display: inline-block;
	text-transform: uppercase;
	border:none;
	outline:none;
}
.register-but input[type="submit"]:hover {
	background:#000;
}
div.register-bottom-grid {
	margin-top:3em;
}
/*-- Register Page Ends ---*/

/*-- start details--*/
.single{
	padding:5% 16em;
}
.left_content{
	width: 73%;
	float: right;
	margin-left: 5%;
}
.left_sidebar{
	width: 23.6%;
	float: left;
	margin-left: 4%;
}
.span1_of_1{
	float: left;
	width: 52.3333%;
}
.span1_of_1_des{
	float: right;
	width: 60%;
}
/* start desc1 */
.desc1 {
	font-family: 'Source Sans Pro', sans-serif;
	display: block;
	float: right;
}
.desc1 h3{
	text-shadow: 0 1px 0 #ffffff;
	color:#000;
	font-size:1.8em;
	margin-bottom: 10px;
}
.filter-by-color h3{
	font-size:1.5em;
}
.desc1 h5{
	margin-top: 2%;
	font-size: 1.5em;
	color: #3498db;
	line-height: 1.5em;
	text-shadow: 0 1px 0 #ffffff;
}
.desc1 h5 a{
	margin-left:5px;
	color:#555555;
	text-transform:capitalize;
	font-size: 13px;
}
.desc1 h5 a:hover{
	color: #5EAFA5;
}
.desc1 p{
	font-size: 0.9em;
	color: #555555;
	line-height: 1.8em;
}
.filter-by-color {
	margin-top: 25px;
}
.w_nav2  li{
	display: inline-block;
}
.w_nav2 li a{
	display: block;
	padding: 16px;
}
.w_nav2 li a.color1{
	background:	#0AA5E2;
}
.w_nav2 li a.color2{
	background:	#E52D6D;
}
.w_nav2 li a.color3{
	background:	#303030;
}
.w_nav2 li a.color4{
	background:	#B71E32;
}
.w_nav2 li a.color5{
	background:	#353F49;
}
.w_nav2 li a.color6{
	background:	#45BF55;
}
.w_nav2 li a.color16{
	background:	#9D18B1;
}
.w_nav2 li a.color7{
	background:	#FF7F00;
}
.w_nav2 li a.color17{
	background:	#2A18B1;
}
.w_nav2 li a.color8{
	background:	#8B4513;
}
.w_nav2 li a.color9{
	background:	#FFD700;
}
.w_nav2 li a.color10{
	background:	#121212;
}
.w_nav2 li a.color11{
	background:	#C0C0C0;
}
.w_nav2 li a.color12{
	background:	#0AA5E2;
}
.w_nav2 li a.color13{
	background:	#FFCBDB;
}
.w_nav2 li a.color14{
	background:	#B87333;
}
.w_nav2 li a.color15{
	background:	#BFB540;
}
.span_1_of_left{
	margin-bottom:5em;
}
/* start available */
.available {
	margin-top: 10px;
	padding: 15px 0 20px 0;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.available h4{
	font-size: 1.3em;
	color: #000;
	margin-bottom: 20px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #ffffff;
}
.available li {
	display: inline;
	font-size: 1em;
	padding: 1.5% 2%;
	color: #555555;
}
.available li select {
	font-family: 'Source Sans Pro', sans-serif;
	outline:none;
	display: inline;
	font-size: 0.875em;
	color: #555555;
	margin-left: 10px;
	padding: 4px;
	border: 1px solid rgb(224, 224, 224);
}
.available span a{
	padding-top: 15px;
	display: block;
	color: #555555;
	font-size: 0.8em;
	text-transform: uppercase;
	text-decoration: underline;
	margin-right: 10px;
}
.available ul {
	margin-bottom: 2em;
}
.available span a:hover{
	text-decoration: none;	
}
/* start share-des */
.share-desc{
	padding: 20px 0;
}
.share h4{
	font-size: 1.1em;
	color: #777;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #ffffff;
}
.share_nav{
	float:left;
}
.share_nav li {
	display: inline-block;
	margin: 5px 6px;
}
.share_nav li a {
	background: #9C9C9C;
	padding: 10px;
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
}
.share_nav li a:hover{
	background: #3CC395;
}
.share li img {
	vertical-align:middle; 
}
.btn_form{
	float: left;
}
.btn_form form input[type="submit"]{
	font-family: 'Source Sans Pro', sans-serif;
	cursor:pointer;
	border:none;
	outline:none;
	display: inline-block;
	font-size: 1em;
	padding: 8px 25px;
	background: #555555;
	color:#fff;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.btn_form form input[type="submit"]:hover{
	background: #3498db;
}
.span_right{
	float: right;
}
.images_3_of_2 {
	width:35.2%;
	float: left;
	margin-right: 2.6%;
}

/* end description */

/*--- Contact- Starts Here ---*/
.singel_right {
	margin-top: 0em;
}
.span_1_of_contact {
	width: 60.1%;
	font-family: 'Roboto', sans-serif;
	float:left;
}
p.comment-form-author {
	margin-bottom: 2em;
}
.contact-form label {
	display: block;
	font-size: 1em;
	color: #000;
	text-transform: uppercase;
}
.contact-form input[type="text"] {
	padding: 10px;
	width: 95%;
	color: #9198A3;
	font-size: 0.9em;
	background: #fff;
	outline: none;
	display: block;
	border: 1px solid #eee;
}
.contact-form textarea {
	padding: 10px;
	display: block;
	width: 95%;
	background: #fff;
	border: 1px solid #eee;
	outline: none;
	color: #9198A3;
	font-size: 0.9em;
	-webkit-appearance: none;
	resize: none;
	height: 150px;
}
.contact-form input[type="submit"] {
	display: inline-block;
	padding: 13px 25px;
	background: #3498db;
	color: #FFF;
	font-size: 1em;
	line-height: 18px;
	text-transform: uppercase;
	border: none;
	outline: none;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.contact-form input[type="submit"]:hover{
	background:#000;
}
.contact_grid {
	display: block;
	float: left;
	width: 37%;
}
.span_2_of_contact_right h3 {
	font-size: 1.25em;
	font-weight: bold;
	color: #000;
	margin-bottom: 1.5em;
}
.address {
	margin-bottom: 1em;
}
.contact_address, .contact_email {
	overflow: hidden;
	font-size: 0.95em;
	color: #999;
	line-height: 1.5em;
}
.contact_email a{
	color: #999;
	text-decoration:none;
}
.contact_email a:hover{
	color:#3498db;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
}
.map{
	margin:2em 0;
}
.map iframe{
	width:100%;
	height:350px;
}
.new-product{
	padding: 0.5em 2em;
}
ul.product-top-list{
	padding:0;
	float: left;
}
ul.product-top-list li{
	display: inline-block;
	font-size:0.82em;
	color:#777;
}
ul.product-top-list li a{
	color:#000;
}
ul.product-top-list li span.act{
	background:yellow;
}
p.back{
	float: right;
	font-size:0.82em;
}
.new-product-top {
	padding: 0em 0 2em;
}
/*-- order-starts-here --*/
.order.text-center {
	background: #fff;
	padding: 12em 0 16em 0;
	border: 1px solid #BBBBBB;
	margin-top: 3em;
}
.order.text-center h4 {
	color: #000;
	font-size: 1.8em;
	font-weight: 500;
}
.order.text-center p{
	font-size:0.95em;
	font-weight:700;
	margin-bottom:1.5em;
}
.order.text-center a{
	color:#fff;
	font-size:1em;
	font-weight:700;
	background:#000;
	padding:0.8em 4.2em;
	border-radius:5px;
	text-decoration:none;
}
/*-- responsive-design-starts-here --*/

@media screen and (max-width: 1366px) {
	.wrap {
		width: 90%;
	}
	.top-header {
		padding: 7px 0;
	}
	.navigation-strip {
		padding: 1.4em 0.8em;
	}
	.top-menu ul li a {
		font-size: 13px;
	}
	.right-grid-top {
		padding: 1.5em;
	}
	.right-grid-bottom {
		padding: 1.2em 1.5em;
	}
	.right-grid-bottom-left h3 {
		font-size: 2.05em;
	}
	.r-discount span {
		padding: 6px 1.15em;
	}
	.right-grid-bottom-left h2 {
		font-size: 1.75em;
		margin: 5px 0;
	}
	.right-grid {
		min-height: 400px;
	}
	.product-item h3 {
		font-size: 2.2em;
	}
	.new-arrival-head h3 {
		font-size: 3.55em;
		line-height: 1.1em;
		margin: 0.5em 0 1.4em 0;
	}
	.subscribe.text-left {
		padding: 0;
	}
	.subscribe input[type="text"] {
		width: 64%;
	}
	.different-products {
		padding: 0;
	}
	.sort, .show {
		width: 18%;
	}
	.images_1_of_4 {
		padding: 1.5% 0.5%;
	}
	.images_1_of_4 .button a.cart-button {
		padding: 7px 5px 7px 37px;
		margin: 0;
	}
	.contact-section {
		padding: 2.2em 0 1.5em 0;
	}
	.footer-middle {
		padding: 2.5em 0;
	}
	.arrow-img {
		padding: 0em 0em 0 4em;
	}
	.img-arrow {
		padding: 0 0 0 5.9em;
	}
	.img-left-arrow {
		padding: 0 0 0 3.4em;
	}
	.span_1_of_left {
		margin-bottom: 2em;
	}
	.registration_left {
		width: 46.33333%;
		margin-left: 7.333%;
	}
	.login-left {
		min-height: 352px;
	}
	.login-signup-form {
		width: 90%;
	}
}
@media screen and (max-width: 1280px) {
	.wrap {
		width: 93%;
	}
	.subscribe input[type="text"] {
		width: 63%;
	}
	.right-grid-top {
		padding: 1.2em;
	}
	.right-grid-bottom {
		padding: 0.8em 1.2em;
	}
	.right-grid-bottom-left h3 {
		font-size: 2em;
	}
	.right-grid {
		min-height: 387px;
	}
	.new-arrivals {
		padding: 2.5em 0;
	}
	.new-arrival-head h3 {
		font-size: 3.4em;
	}
	.best-sellers-head h3 {
		font-size: 2.2em;
	}
	.best-sellers-menu {
		margin-top: 7px;
	}
	.best-sellers {
		padding: 2em 2em;
	}
	.navigation-strip h4 {
		font-size: 1.15em;
		margin-top: 3px;
	}
	i.arrow {
		margin-left: 5px;
	}
	.grids_of_3 {
		margin: 2% 0 4% 0;
	}
	.price1 {
		margin-bottom: 30px;
	}
	.coats {
		margin-top: 2em;
	}
	.grid1_of_3 h3 {
		font-size: 1.4em;
	}
	.price1 h4 span {
		font-size: 0.9em;
		padding: 7px 19px;
	}
	.different-products ul li a {
		font-size: 14px;
	}
	h2.top {
		font-size: 1.85em;
	}
	.registration h2 {
		font-size: 1.8em;
		margin-bottom: 3%;
	}
	.follow h3, .subscribe h3, .help h3 {
		font-size: 1.6em;
	}
	.images_1_of_4 .button a.cart-button {
		padding: 7px 2px 7px 38px;
	}
	.login-signup-form {
		width: 94%;
	}
	p.required {
font-size: 10px;
text-align: right;
color: #ff0000;
margin: 0;
}
.login.text-center {
padding: 1em 0 0 0;
}

}
@media screen and (max-width: 1024px) {
	.right-grid {
		width: 28%;
		min-height: 344px;
		float:left;
	}
	.banner {
		width: 72%;
		float:left;
	}
	.product-item h3 {
		font-size: 2em;
		margin: 14px 0 5px 0;
	}
	.new-arrival-head h3 {
		font-size: 2.8em;
	}
	.product-item {
		padding: 0 10px;
	}
	.wrap {
		width: 95%;
	}
	.header-left ul li p, .header-left ul li a, .header-right ul li a {
		font-size: 14px;
	}
	.top-header {
		padding: 5px 0;
	}
	.top-menu ul li a {
		font-size: 12px;
	}
	.right-grid-top {
		padding: 1em;
	}
	.r-sale h6 {
		font-size: 15px;
	}
	.r-sale h2 {
		font-size: 2.8em;
	}
	.r-discount span {
		padding: 5px 1em;
		letter-spacing: 0.75em;
	}
	.r-discount h2 {
		font-size: 3.5em;
	}
	.r-discount a {
		font-size: 1em;
	}
	.r-discount p {
		font-size: 1.8em;
	}
	.right-grid-bottom-left h3 {
		font-size: 1.38em;
	}
	.right-grid-bottom-left p {
		font-size: 12px;
		padding: 4px 5px;
	}
	.right-grid-bottom-left h5 {
		font-size: 0.98em;
	}
	.right-grid-bottom-left h2 {
		font-size: 1.5em;
		margin: 8px 0;
	}
	.right-grid-bottom-left a {
		font-size: 1em;
	}
	.right-grid-bottom {
	    padding:0.8em 1em;
	}
	.best-sellers-menu ul li {
		margin: 0 0.5em;
	}
	.best-sellers-menu ul li a {
		font-size: 1em;
	}
	.nbs-flexisel-nav-left {
		left: -3.5em;
	}
	.nbs-flexisel-nav-right{
		right: -3.5em;
	}
	.ipad {
		width: 90%;
		padding: 13px 5px 50px 10px;
	}
	i.heart {
		margin: 0 4px 0 0em;
	}
	i.cart-1 {
		margin: 0 3px 0 1em;
	}
	.shipping {
		padding: 1em;
	}
	.return {
		padding: 1em;
	}
	.follow.text-left {
		padding-left: 0;
	}
	.shipping h3, .return h3 {
		font-size: 1.8em;
	}
	.subscribe input[type="submit"] {
		padding: 9px 12px;
	}
	.subscribe input[type="text"] {
		margin: 5px 4px 0 0;
	}
	.social-icons i {
		width: 50px;
		height: 50px;
		background-size: 450px;
	}
	i.twitter {
		background-position: -110px -49px;
	}	
	i.facebook {
		background-position: -164px -48px;
	}
	i.googlepluse {
		background-position: -218px -49px;
	}
	i.pinterest {
		background-position: -272px -48px;
	}
	i.linkedin {
		background-position: -326px -48px;
	}
	.navigation-strip h4 {
		font-size: 1.1em;
	}
	.different-products ul li:nth-child(7) {
		display: none;
	}
	.about-text.text-right p {
		font-size: 1em;
	}
	.different-products {
		margin-top: 10px;
	}
	.footer-middle {
		padding: 2em 0;
	}
	.registration h2 {
		font-size: 1.6em;
		margin-bottom: 2%;
	}
	.reg_fb i {
		padding: 8px 16px;
		font-size: 1.2em;
	}
	.registration_left {
		width: 47.33333%;
		margin-left: 5.333%;
	}
	.contact-box {
		width: 70%;
		margin: 2em auto 5em;
	}
	.register-top-grid div, .register-bottom-grid div {
		width: 50%;
	}
	.sort {
		width: 19%;
		margin-left:0;
	}
	.show {
		width: 19%;
		margin-left:1.5%;
	}
	.heading {
		margin-right: 6%;
	}
	.grid_1_of_4.images_1_of_4:nth-child(3) {
		display: none;
	}
	.images_1_of_4 {
		width: 31.6%;
	}
	.sub-cate, .slide-grid, .banner-bag, .banner-off {
		width: 23%;
	}
	.latest-products {
		margin-left: 2%;
	}
	.price1 h4 span {
		margin: 12px 12px 0 12px;
	}
	.arrow-img {
		padding: 0em 0em 0 1em;
	}
	.img-arrow {
		padding: 0 0 0 2.9em;
	}
	.img-left-arrow {
		padding: 0 0 0 0.4em;
	}
	.span_1_of_left {
		margin-bottom: 0em;
	}
	.menu > li > a {
		line-height: 3em;
		text-indent: 0.5em;
	}
	.menu ul li a {
		font-size: 1em;
		line-height: 3.5em;
		text-indent: 0.5em;
	}
	.chain {
		padding: 1em 0;
	}
	.chain-watch {
		padding: 1em 0;
	}
	.left_content {
		width: 100%;
		margin-left: 0;
	}
	.single-subcate{
		width:100%;
		margin-top:2em;
	}
	.brand-content-bar{
		padding:1em 1em;
	}
	.brand-content-bar {
		width: 100%;
		margin: 0 0 1em 0;
	}
	.brand-content-bar {
		padding: 1em 4em;
	}
	.login-signup-form {
		width: 100%;
	}
	section#main {
padding: 2em;}
.reg_fb i {
padding: 5px 4px;
font-size: 1em;
}
.how_to {
background: #F8F8F8;
padding: 0.7em 1em;}
.labelTop {
width: 31%;
}
.forgetit {
padding: 25px 2em 25px 11px;
}
.cus_info_wrap {
margin-bottom: 15px;
padding: 0 15px;
}
.cus_info_wrap input[type="text"] {
width: 69%;}
.checkbox {
width: 80%;

}
.checkbox i {
position: absolute;
bottom: 8px;
left: 43px;}
.login.text-center {
min-height: 456px;
width: 100%;
margin-bottom: 2em;
}
.sign-up{
	width: 100%;
}
.sign-up.text-center {
border-left: 1px solid #D6D6D6;
min-height: 256px;
width: 100%;
margin-bottom:2em;
}
.reg_gp i {
padding: 7px 10px 0 0;
font-size: 1em;}
.benefits {
padding: 10px 10px 10px;
background: #F6F6F6;
width: 100%;
margin-left: 0%;
}
.login-signup-form {
width: 62%;
}
.checkbox i {
position: absolute;
bottom: 8px;
left: 93px;
}
.checkbox {
width: 90%;
}
.forgetit input[type="text"] {
width: 82%;}
.checkbox i {
position: absolute;
bottom: 8px;
left: 156px;
}
p.required {
font-size: 10px;
text-align: right;
color: #ff0000;
margin: 0;
}
}
@media screen and (max-width: 800px) {
.forgetit input[type="text"] {
width: 75%;
}
.checkbox i {
position: absolute;
bottom: 8px;
left: 94px;
}
	.wrap {
		width: 95%;
	}
	.right-grid {
		width: 100%;
		min-height: 344px;
		float:left;
	}
	.banner {
		width: 100%;
		float:left;
	}
	.footer-middle {
		padding: 1.5em 0;
		text-align: center;
	}
	.different-products {
		margin: 0 0 2em 0;
	}
	.about-text.text-right {
		text-align: center;
	}
	.copyright {
		padding: 1.5em 0;
	}
	.follow.text-left,.subscribe.text-left {
		text-align: center;
		margin-bottom: 1.5em;
	}
	.help.text-right {
		text-align: center;
		margin-bottom: 1em;
	}
	.shipping {
		width: 100%;
		margin-bottom: 1em;
	}
	.return {
		width: 100%;
	}
	i.cart-1 {
		margin: 0 3px 0 2em;
	}
	i.heart {
		margin: 0 4px 0 1em;
	}
	.best-sellers-head h3 {
		font-size: 1.9em;
	}
	.best-sellers-menu ul li a {
		font-size: 0.9em;
		padding: 7px 10px;
	}
	.best-sellers-menu {
		margin-top: 5px;
	}
	.best-sellers {
		padding: 1.8em 1em;
	}
	.product-item {
		width: 33.333%;
		float: left;
	}
	.product-item h3 {
		font-size: 1.8em;
		margin: 12px 0 3px 0;
	}
	.product-item a {
		font-size: 1em;
	}
	.new-arrival-head h3 {
		font-size: 2.7em;
		margin: 0 0 0.4em 0;
	}
	.new-arrival-head {
		margin-bottom: 1.2em;
	}
	.new-arrivals {
		padding: 1.5em 0;
	}
	.right-grid-top {
		width: 50%;
		float: left;
		border-bottom: 0px solid #B9B9B9;
		border-right: 1px solid #B9B9B9;
	}
	.right-grid-bottom {
		width: 50%;
		float: left;
	}
	.right-grid {
		min-height: 173px;
		border: 1px solid #B9B9B9;
		margin:1.5em 0;
	}
	.right-grid-bottom-left h3 {
		font-size: 1.75em;
	}
	.right-grid-bottom-left p {
		font-size: 14px;
		padding: 4px 12px;
	}
	.r-discount span {
		letter-spacing: 1.5em;
	}
	.search {
		width: 50%;
	}
	.header-left ul li p, .header-left ul li a, .header-right ul li a {
		font-size: 13px;
	}
	i.user {
		width: 22px;
		height: 22px;
		background: url('../images/img-sprite.png') no-repeat -2px -3px;
		background-size: 450px;
	}
	i.lock {
		width: 22px;
		height: 22px;
		background: url('../images/img-sprite.png') no-repeat -31px -4px;
		background-size: 450px;
	}
	.sign-up-right a {
		top: 13%;
		right: 40%;
		font-size: 13px;
	}
	.header-right ul li a {
		margin-right: 5px;
	}
	.header-right ul li.login {
		padding: 0em 3.5em 0 0;
	}
	.header-right ul li.last {
		padding: 1px 7px;
		font-size: 14px;
	}
	i.cart {
		width: 22px;
		height: 22px;
		background: url('../images/img-sprite.png') no-repeat -56px -1px;
		background-size: 450px;
	}
	.header-left {
		margin-top: 2px;
	}
	.top-header {
		padding: 9px 0;
	}
	.registration h2 {
		font-size: 1.45em;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		width: 50px;
		height: 50px;
	}
	.nbs-flexisel-nav-left {
		left: -2em;
		background: url(../images/img-sprite.png) -5px -57px no-repeat;
	}
	.nbs-flexisel-nav-right {
		right: -2em;
		background: url(../images/img-sprite.png) -65px -56px no-repeat;
	}
	.contact-box {
		width: 85%;
		margin: 2em auto 3em;
	}
	h3.c-head {
		font-size: 1.7em;
	}
	.new-product {
		padding: 0.5em 0em;
	}
	.heading h3 {
		font-size: 19px;
	}
	.sort {	
		width: 34%;
	}
	.heading {
		margin-right: 47%;
		margin-bottom: 1em;
	}
	.main {
		padding: 1.5em 1em;
	}
	.images_1_of_4 {
		padding: 1.5% 1.5%;
	}
	.images_1_of_4 .button {
		margin-top: 1em;
		width: 100%;
	}
	.grid1_of_3 {
		width: 47.333%;
	}
	.grid1_of_3:nth-child(2) {
		display: none;
	}
	.latest-products {
		width: 71%;
	}
	.sub-cate, .slide-grid, .banner-bag, .banner-off {
		width: 27%;
	}
	.single-subcate{
		width:100%;
		margin-top:2em;
	}
	.images_3_of_2 {
		width: 41.2%;
		margin-right: 2.2%;
	}
	.span1_of_1_des {
		width: 55.5%;
	}
	.available li select {
		margin-left: 3px;
	}
	.w_nav2 li a {
		padding: 16px;
	}
	.span_1_of_left {
		margin-bottom: 2em;
	}
	.filter-by-color {
		margin-top: 8px;
	}
	.desc1 h3 {
		font-size: 1.75em;
		margin-bottom: 5px;
	}
	.brand-content-bar {
		padding: 1em 1em;
	}
	.navigation-strip h4 {
		display: none;
	}
	.navigation-strip {
		padding: 1.4em 0.2em;
	}
	.order.text-center {
		padding: 10em 0 14em 0;
	}
	.login-left{
		width:100%;
		margin:0 0 2em 0;
		min-height: 250px;
	}
	.login-right{
		width:100%;
	}
	.login-page {
		padding: 1em 0;
	}
	p.required {
font-size: 10px;
text-align: right;
color: #ff0000;
margin: 0;
}
}	
@media screen and (max-width: 768px) {
	.top-menu {
		float: none;
	}
	.navigation-strip h4 {
		display: none;
	}
	.top-menu ul li a {
		padding: 15px;
	}
	.navigation-strip {
		padding: 5px 0;
	}
	.top-menu ul li a {
		font-size: 14px;
	}
	.single-subcate{
		width:100%;
		margin-top:2em;
	}
	.images_3_of_2 {
		width: 42.2%;
		margin-right: 2.7%;
	}
	.span1_of_1_des {
		width: 54%;
	}
	.available li select {
		margin-left: -1px;
	}
	.w_nav2 li {
		margin: 0 0em 0em 0;
	}
	.h_nav h4 {
		display: block;
		margin-bottom: 3px;
	}
	.megamenu>li>a {
		padding: 15px 25px;
	}
	.h_nav ul li a {
		padding: 0;
	}
	p.required {
font-size: 10px;
text-align: right;
color: #ff0000;
margin: 0;
}
}
@media screen and (max-width: 640px) {
	i.cart-1 {
		margin: 0 3px 0 3.65em;
	}
	i.heart {
		margin: 0 4px 0 2.5em;
	}
	.best-sellers-head h3 {
		font-size: 1.6em;
	}
	.best-sellers-head {
		margin-right: 5%;
	}
	.best-sellers-menu ul li a {
		font-size: 0.875em;
		padding: 6px 10px;
	}
	.best-sellers-menu ul li {
		margin: 0 0.3em;
	}
	.new-arrival-head h3 {
		font-size: 2.5em;
		margin: 0 0 0.5em 0;
	}
	.new-arrival-head a {
		font-size: 1em;
		padding: 6px 25px;
	}
	.product-item h3 {	
		font-size: 1.6em;
		margin: 10px 0 3px 0;
	}
	.product-item a {
		font-size: 0.9em;
	}
	.r-discount span {
		letter-spacing: 0.9em;
	}
	.right-grid-bottom-left h3 {
		font-size: 1.4em;
	}
	.right-grid-bottom-left p {
		width: 79%;
	}
	.top-header {
		text-align: center;
	}
	.header-left {
		margin: 0px 0 5px 0;
		float: none;
	}
	.header-right {
		float: none;
	}
	.sign-up-right a {
		top: 10%;
		right: 43%;
	}
	.logo {
		width: 32%;
	}
	.search2 input[type="text"] {
		font-size: 13px;
		width: 89%;
	}
	.search2 {
		padding:6px 6px 6px 0;
		margin: 10px 0px 0px 0em;
	}
	.search2 input[type="submit"] {
		top: 0px;
	}
	.header-left ul li p, .header-left ul li a, .header-right ul li a {
		font-size: 14px;
	}
	.search {
		width: 55%;
	}
	.registration h2 {
		font-size: 1.3em;
	}
	section#main {
		padding: 0 1em;
	}
	.form {
		margin: 0em 0 1em;
	}
	.coats {
		margin-top: 1em;
	}
	.show {
		width: 23%;
		margin-left: 1%;
	}
	.latest-products {
		margin-left: 0;
		width: 100%;
	}
	.sub-cate, .slide-grid, .banner-bag, .banner-off {
		width: 100%;
	}
	.arrow-img {
		padding: 0em 0em 0 25em;
	}
	.img-arrow {
		padding: 0 0 0 26.8em;
	}
	.img-left-arrow {
		padding: 0 0 0 24.4em;
	}
	.span1_of_1_des {
		width: 44.5%;
	}
	.images_3_of_2 {
		width: 52%;
		margin-right: 2%;
	}
	.desc1 p {
		font-size: 1em;
		line-height: 1.7em;
		height: 50px;
		overflow: hidden;
	}
	.btn_form form input[type="submit"] {
		font-size: 1.1em;
		padding: 6px 20px;
	}
	.desc1 h5 {
		margin-top: 1.5%;
		font-size: 1.5em;
	}
	.span_right {
		float: left;
	}
	.available ul {
		margin-bottom: 0.5em;
	}
	.desc1 h3{
		height: 29px;
		overflow: hidden;
	}
	.available li select {
		margin-bottom: 1em;
	}
	.brand-content-bar {
		padding: 1em 2em;
	}
	.load a {
		width: 30%;
	}
	.order.text-center {
		padding: 8em 0 10em 0;
	}
	.register-but form input[type="submit"]{
		margin-bottom:2em;
	}
	.login-signup-form {
width: 73%;
}
p.required {
font-size: 10px;
text-align: right;
color: #ff0000;
margin: 0;
}
}
@media screen and (max-width: 480px) {
.login-signup-form {
width: 100%;
}
	.cards.text-center img {		
		width: 100%;
	}
	.wrap {
		width: 92%;
	}
	.logo {
		width: 35%;
	}
	i.cart-1 {
		margin: 0 3px 0 7.89em;
	}
	i.heart {
		margin: 0 4px 0 6.6em;
	}
	.different-products ul li a {
		font-size: 12px;
	}
	.cards,.copyright{
		padding: 1em 0;
	}
	.copyright p {
		font-size: 15px;
	}
	.subscribe input[type="text"] {
		width: 65%;
		font-size: 14px;
		padding: 8px 8px;
	}
	.subscribe input[type="submit"] {	
		padding: 7px 12px;
		font-size: 14px;
	}
	.copyright p a {
		font-size: 18px;
		margin-left: 7px;
	}
	.about-text.text-right p {
		font-size: 0.95em;
	}
	.best-sellers-menu {
		display: none;
	}
	.best-sellers {
		padding: 1.2em 1em;
	}
	.product-item h3 {
		font-size: 1.4em;
		margin: 9px 0px 1px 0;
	}
	.product-item {
		padding: 0 5px 0px 5px;
	}
	.new-arrival-head h3 {
		font-size: 2.2em;
	}
	.right-grid-top {
		width:100%;
		border-bottom: 1px solid #B9B9B9;
		border-right: 0px solid #B9B9B9;
	}
	.right-grid-bottom {
		width: 100%;
	}
	.right-grid-bottom-left h3 {
		font-size: 1.8em;
	}
	.r-discount span {
		letter-spacing: 2.2em;
	}
	.sign-up-right a {
		right: 41%;
	}
	.logo {
		width: 33%;
	}
	.search2 input[type="text"] {
		font-size: 12px;
		width: 86%;
	}
	.search2 {
		padding: 5px 5px 5px 0;
		margin: 6px 0px 0px 0em;
	}
	.header-left ul li p, .header-left ul li a, .header-right ul li a {
		font-size: 13px;
	}
	.header-left {
		margin: 0px 0 2px 0;
	}
	.top-header {
		padding: 7px 0;
	}
	.callbacks_tabs a:after {
		height: 7px;
		width: 7px;
	}
	.registration_form input[type="submit"] {
		margin-bottom: 0;
	}
	.checkbox{
		margin:0;
	}
	.registration_left:first-child {
		margin-bottom: 2em;
	}
	ul.callbacks_tabs.callbacks1_tabs {
		bottom: 10px;
		left: 173px;
	}
	.registration_left {
		width: 100%;
		margin: 0;
	}
	.registration_form div {
		padding: 8px 0;
	}
	.span_1_of_contact {
		width: 100%;
		margin-bottom: 2em;
	}
	.contact_grid {
		width: 100%;
	}
	.map iframe {
		height: 200px;
	}
	.span_2_of_contact_right h3 {
		margin-bottom: 0.5em;
	}
	.images_1_of_4 {
		width: 48.6%;
	}
	.grid_1_of_4.images_1_of_4:nth-child(4) {
		display: none;
	}
	.heading {
		margin-right: 22%;
		margin-bottom: 0.5em;
	}
	.sort {
		width: 52%;
	}
	.show {
		width: 38%;
		margin-left: 5%;
	}
	.page-no {
		padding-top: 10px;
	}
	.arrow-img {
		padding: 0em 0em 0 13em;
	}		
	.img-arrow {
		padding: 0 0 0 14.8em;
	}
	.img-left-arrow {
		padding: 0 0 0 12.4em;
	}
	.span_1_of_left {
		margin-bottom: 1em;
	}
	.grid1_of_3 h3 {
		font-size: 1.2em;
	}
	.menu > li > a,.menu ul li a {
		text-indent: 1.5em;
	}
	.span1_of_1_des {
		width: 100%;
	}
	.images_3_of_2 {
		width: 100%;
		margin-right: 0;
	}
	.span_right {
		float: right;
	}
	.navigation-strip {
		padding: 0;
	}
	.brand-content-bar {
		padding: 1em 0.5em;
	}
	.load a {
		width: 35%;
	}
	.order.text-center {
		padding: 6em 0 9em 0;
		margin-top: 1em;
	}
	.acount-btn,.login-right input[type="submit"] {
		font-size: 0.875em;
	}
	.login-left h3, .login-right h3 {
		font-size: 1.25em;
	}
	p.required {
font-size: 10px;
text-align: right;
color: #ff0000;
margin: 0;
}
}

@media screen and (max-width: 320px) {
	.copyright p {
		font-size: 14px;
	}
	.subscribe input[type="text"] {
		width: 58%;
	}
	.social-icons i {
		width: 45px;
		height: 45px;
		background-size: 400px;
	}
	i.twitter {
		background-position: -97px -42px;
	}
	i.facebook {
		background-position: -145px -42px;
	}
	i.googlepluse {
		background-position: -193px -42px;
	}
	i.pinterest {
		background-position: -241px -42px;
	}
	i.linkedin {
		background-position: -289px -42px;
	}
	.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
		width: 42px;
		height: 42px;
	}		
	.nbs-flexisel-nav-left {
		left: -1em;
		background: url(../images/img-sprite.png) -6px -62px no-repeat;
	}
	.nbs-flexisel-nav-right {
		right: -1em;
		background: url(../images/img-sprite.png) -67px -62px no-repeat;
	}
	i.cart-1 {
		margin: 0 3px 0 3.6em;
	}
	i.heart {
		margin: 0 4px 0 2.5em;
	}
	.product-item {
		padding: 0 12px 0px 12px;
		width: 100%;
		margin-top:0.5em;
	}
	.right-grid-bottom,.right-grid-top {
		padding: 5px;
	}
	.right-grid-bottom-left h3 {
		font-size: 1.5em;
	}
	.r-discount span {
		letter-spacing: 1em;
	}
	.logo {
		width: 41%;
	}
	.search2 input[type="text"] {
		font-size: 10px;
		width: 82%;
	}
	.search2 {
		padding: 7px 5px 5px 0;
		margin: 3px 0px 0px 0em;
	}
	.sign-up-right a {
		right: -2%;
		top: 5%;
	}
	h3.c-head {
		font-size: 1.4em;
	}
	.coats p {
		height: 40px;
		overflow: hidden;
	}
	.coats {
		margin-top: 0.3em;
		margin-bottom: 1em;
	}
	.text input[type="text"], .text input[type="password"] {
		padding: 8px;
	}
	.contact-box {
		width: 95%;
		margin: 1.3em auto 2em;
	}
	.text input[type="submit"],.reg a {
		padding: 10px 25px;
	}
	.register-top-grid input[type="text"], .register-bottom-grid input[type="password"] {
		padding: 0.35em;
	}
	.register-top-grid div, .register-bottom-grid div {
		width: 100%;
		margin: 6px 0;
	}
	.register {
		padding: 8px 0 2em 0;
	}
	.new-product-top {
		padding: 0em 0 0.5em;
	}
	p.comment-form-author {
		margin-bottom: 1.2em;
	}
	.load a {
		width: 65%;
		padding: 0.6em;
	}
	h3.cate {
		font-size: 1.5em;
	}
	.menu > li > a, .menu ul li a {
		text-indent: 0.5em;
	}
	.arrow-img {
		padding: 0em 0em 0 4em;
	}
	.img-arrow {
		padding: 0 0 0 5.8em;
	}
	.img-left-arrow {
		padding: 0 0 0 3.4em;
	}
	h2.top {
		font-size: 1.5em;
	}
	.grid1_of_3 {
		width: 100%;
		margin-bottom:1.5em;
		margin-left: 0;
	}
	.images_1_of_4 {
		width: 100%;
		margin-bottom:1.5em;
		margin-left: 0;
		padding: 12px 0;
	}
	.heading {
		margin-right: 0%;
	}
	.content_top {
		padding: 12px 10px;
	}
	.top-menu ul li a {
		padding: 10px;
	}
	.h_nav ul li a {
		padding: 0;
	}
	.available li {
		font-size: 0.9em;
	}
	.w_nav2 li a {
		padding: 13px;
	}
	.span_right {
		float:left;
	}
	.header-right ul li:nth-child(3), .header-right ul li:nth-child(4) {
		display: none;
	}
	.content_bottom {
		padding: 10px 10px;
	}
	.login-left p, .login-right p {
color: #555;
display: block;
font-size: 0.9em;
margin: 0 0 1.5em 0;}
.login-left h3, .login-right h3 {
font-size: 1.1em;
}
.login-right {
width: 100%;
padding: 20px 10px 15px 10px;
}
p.required {
font-size: 10px;
text-align: right;
color: #ff0000;
margin: 0;
}
.how_to {
margin: 10px 0px;
}
section#main {
padding: 0 0.5em;
}
.cus_info_wrap {
margin-bottom: 15px;
padding: 0 5px;
}
.cus_info_wrap label {
font-size: 13px;
}
.labelTop {
width: 34%;
}
.cus_info_wrap input[type="text"] {
width: 65%;
}
.checkbox i {
position: absolute;
bottom: 8px;
left: 25px;
}
.forgetit input[type="text"] {
width: 64%;
}
.login.text-center {
min-height: 438px;}
.sgn label {
width: 65%;
margin-top: 4px;
}
.how_to p {
font-size: 10px;}
}

.brand {
	float: left;
}

.transport-grid{

	margin-top: 3em;
	margin-bottom: 2em;
}